<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Extragere in fiecare zi la ora 19</h1>
    <%if numbers = 1 {%>
    <p>Nu s-a facut extragerea!</p>
    <%}%>
    

</body>
</html>