<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Document</title>
</head>
<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #6a11cb;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }
        .rainbow-hover {
            font-size: 16px;
            font-weight: 700;
            color: #ff7576;
            background-color: #2B3044;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 12px 24px;
            position: relative;
            line-height: 24px;
            border-radius: 9px;
            box-shadow: 0px 1px 2px #2B3044,
              0px 4px 16px #2B3044;
            transform-style: preserve-3d;
            transform: scale(var(--s, 1)) perspective(600px)
              rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
            perspective: 600px;
            transition: transform 0.1s;
          }
          
          .sp {
            background: linear-gradient(
                90deg,
                #866ee7,
                #ea60da,
                #ed8f57,
                #fbd41d,
                #2cca91
              );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            display: block;
          }
          
          .rainbow-hover:active {
            transition: 0.3s;
            transform: scale(0.93);
          }
          .cbx {
            position: relative;
            top: 1px;
            width: 27px;
            height: 27px;
            border: 1px solid #c8ccd4;
            border-radius: 3px;
            vertical-align: middle;
            transition: background 0.1s ease;
            cursor: pointer;
            display: block;
           }
           
           .cbx:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 8px;
            width: 7px;
            height: 14px;
            opacity: 0;
            transform: rotate(45deg) scale(0);
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transition: all 0.3s ease;
            transition-delay: 0.15s;
           }
           
           .lbl {
            margin-left: 5px;
            vertical-align: middle;
            cursor: pointer;
           }
           
           #cbx:checked ~ .cbx {
            border-color: transparent;
            background: #6871f1;
            animation: jelly 0.6s ease;
           }
           
           #cbx:checked ~ .cbx:after {
            opacity: 1;
            transform: rotate(45deg) scale(1);
           }
           
           .cntr {
            position: relative;
           }
           
           @keyframes jelly {
            from {
             transform: scale(1, 1);
            }
           
            30% {
             transform: scale(1.25, 0.75);
            }
           
            40% {
             transform: scale(0.75, 1.25);
            }
           
            50% {
             transform: scale(1.15, 0.85);
            }
           
            65% {
             transform: scale(0.95, 1.05);
            }
           
            75% {
             transform: scale(1.05, 0.95);
            }
           
            to {
             transform: scale(1, 1);
            }
           }
           
           .hidden-xs-up {
            display: none!important;
           }
           
</style>
<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                    <p class="text-white-50 mb-5">Register In Blockchain!</p>

                    <form action="/register" method="POST">
                      <div class="form-outline form-white mb-4">
                        <input type="email" id="typeEmailX" class="form-control form-control-lg" name="email"/>
                        <label class="form-label" for="typeEmailX">Email</label>
                      </div>
                      <div class="form-outline form-white mb-4">
                          <input type="text" id="typePasswordX" class="form-control form-control-lg" name="username"/>
                          <label class="form-label" for="typePasswordX">Username</label>
                        </div>
        
                      <div class="form-outline form-white mb-4">
                        <input type="password" id="typePasswordX" class="form-control form-control-lg" name="password" />
                        <label class="form-label" for="typePasswordX">Password</label>
                      </div>
                      <div class="form-outline form-white mb-4">
                          <input type="number" id="typePasswordX" class="form-control form-control-lg"  name="security_code"/>
                          <label class="form-label" for="typePasswordX">Security Code</label>
                        </div>
                        
                        <div class="cntr ">
                          <input checked="" type="checkbox" id="cbx" class="hidden-xs-up">
                          <label for="cbx" class="cbx"></label>                     <p class="text-white-50 mb-5">By Checking Checkbox You Accept Ours Terms And Condition</p>
                        
                        </div>
        
                      <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
        
                      <button data-label="Register" class="rainbow-hover" type="submit">
                          <span class="sp">Register</span> 
                        </button>


                    </form>
      
                    
      
                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                      <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                      <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                      <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                      
                    </div>
      
                  </div>
      
                  <div>
                    <p class="mb-0">Already have account? <a href="/" class="text-white-50 fw-bold">Login </a>
                    </p>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
</body>
</html>