<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Forgot Password</title>
</head>
<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #6a11cb;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
    .rainbow-hover {
        font-size: 16px;
        font-weight: 700;
        color: #ff7576;
        background-color: #2B3044;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 12px 24px;
        position: relative;
        line-height: 24px;
        border-radius: 9px;
        box-shadow: 0px 1px 2px #2B3044,
        0px 4px 16px #2B3044;
        transform-style: preserve-3d;
        transform: scale(var(--s, 1)) perspective(600px)
        rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
        perspective: 600px;
        transition: transform 0.1s;
    }
    
    .sp {
        background: linear-gradient(
            90deg,
            #866ee7,
            #ea60da,
            #ed8f57,
            #fbd41d,
            #2cca91
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        display: block;
    }
    
    .rainbow-hover:active {
        transition: 0.3s;
        transform: scale(0.93);
    }
</style>
<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase">Forgot Password</h2>
                    <p class="text-white-50 mb-5">Enter Code to Reset Your Password</p>
                    <form action="/forgot-password-success" method="POST">
                        <div class="form-outline form-white mb-4">
                            <input type="text" id="typeEmailX" class="form-control form-control-lg" name="email" />
                            <label class="form-label" for="typeEmailX">Email</label>
                        </div>
                        <div class="form-outline form-white mb-4">
                            <input type="text" id="typeEmailX" class="form-control form-control-lg" name="code" />
                            <label class="form-label" for="typeEmailX">Code (From Email)</label>
                        </div>
                        <div class="form-outline form-white mb-4">
                            <input type="password" id="typeEmailX" class="form-control form-control-lg" name="newPassword" />
                            <label class="form-label" for="typeEmailX">New Password</label>
                        </div>
                        <button data-label="Reset Password" class="rainbow-hover" type="submit">
                            <span class="sp">Reset Password</span>
                        </button>
                    </form>
      
                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                      <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                      <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                      <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                    </div>
      
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>
